:root {
  --primary: #0d1117;
  --secondary: #58a6ff;
  --text-dark: #c9d1d9;
  --text-light: #ffffff;
  --bg-light: #161b22;
  --greyType: #a7a5a5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
html {
  scroll-behavior: smooth;
}
body {
  /* font-family: "Outfit","Poppins", sans-serif; */
  font-family: "Poppins", sans-serif;
  background: var(--primary);
  color: var(--text-dark);
  line-height: 1.6;
}
.navbar {
  display: flex;
  top: 0;
  position: fixed;
  left: 0;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: rgba(13, 17, 23, 0.7);
  z-index: 1000;
  width: 100%;
}
.navbar .logo {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--secondary);
}
.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}
.nav-links a {
  color: var(--text-light);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}
.nav-links a:hover {
  color: var(--secondary);
}
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  text-align: center;
  padding: 0 20px;
}
.hero h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--text-light);
  padding: 0px;
}
.hero h1 span {
  color: var(--secondary);
  text-shadow: 0 0 10px rgba(88, 166, 255, 0.6);
}
.hero h2 {
  color: var(--text-light);
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: baseline;
  gap: 8px;
  white-space: nowrap;
  font-size: 2.5rem;
}
.hero h2 > span {
  color: var(--secondary);
  text-shadow: 0 0 10px rgba(88, 166, 255, 0.6);
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  overflow: hidden;
  height: 1.6em;
}
.hero h2 > span > span {
  display: block;
  animation: anim 8s infinite ease-in-out;
  text-align: left;
}
@keyframes anim {
  0% {
    transform: translateY(0%);
  }
  20% {
    transform: translateY(0%);
  }

  25% {
    transform: translateY(-100%);
  }
  45% {
    transform: translateY(-100%);
  }

  50% {
    transform: translateY(-200%);
  }
  70% {
    transform: translateY(-200%);
  }

  75% {
    transform: translateY(-300%);
  }
  95% {
    transform: translateY(-300%);
  }

  100% {
    transform: translateY(-400%);
  }
}
.hero p {
  margin-top: 15px;
  font-size: 1.2rem;
  color: var(--text-dark);
}
.hero .btn {
  margin-top: 20px;
  padding: 12px 25px;
  background: var(--secondary);
  color: var(--text-light);
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}
.hero .btn:hover {
  background: #1e90ff;
  transform: scale(1.05);
}
section {
  padding: 100px 20px;
  min-height: 100vh;
  scroll-margin-top: 50px;
}
section h2 {
  margin-bottom: 30px;
  font-size: 2.2rem;
  text-align: center;
  color: var(--secondary);
}
.about-container {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 80vw;
  margin: auto;
}
.about-img {
  flex: 1 1 250px;
  text-align: center;
}
.about-img img {
  width: 290px;
  height: 290px;
  border-radius: 50%;
  border: 5px solid var(--secondary);
  box-shadow: 0 0 20px rgba(88, 166, 255, 0.3);
  object-fit: cover;
}
.about-text {
  flex: 1 1 600px;
  font-size: 1.1rem;
  line-height: 1.8;
  color: var(--text-dark);
  text-align: justify;
}
/* Section Cards */
.education,
.skills,
.projects,
.contact {
  margin: 20px auto;
  padding: 40px;
  max-width: 1000px;
}
.skill-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.skill-card .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 10px 2px;
  width: 270px;
  height: 290px;
  border: 1.5px solid var(--secondary);
  border-radius: 25px;
  color: var(--secondcolor);
  background: var(--bg-light);
}
.skill-card .card:hover {
  box-shadow: 0 0 15px rgba(88, 166, 255, 0.3);
}
.skill-card .card h1 {
  text-align: right;
  font-size: 3rem;
}
.skill-card .card h3 {
  text-align: center;
  font-size: 1.8rem;
  margin: 0px;
  padding: 0px;
  color: var(--text-dark);
}
.skill-card .card p {
  color: var(--greyType);
  text-align: left;
  padding: 20px;
}
.timeline {
  position: relative;
  max-width: 1000px;
  margin: auto;
  padding: 20px 0;
}
.timeline-title {
  margin: 0;
  font-size: 1.15em;
  font-weight: bold;
}
.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 4px;
  background: var(--text-dark);
  transform: translateX(-50%);
  border-radius: 2px;
}
.timeline-component {
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
}
.timeline-component::before {
  content: "";
  position: absolute;
  top: 25px;
  right: -8px;
  width: 16px;
  height: 16px;
  background: var(--secondary);
  border-radius: 50%;
  z-index: 10;
}
.timeline-component-bg {
  background: var(--bg-light);
  border: 1.5px solid var(--secondary);
  border-radius: 10px;
  padding: 20px;
  color: var(--text-dark);
}
.timeline-component-bg h3 {
  color: var(--secondary);
}
.timeline-component-bg p {
  color: var(--greyType);
}
.timeline-component-bg p:last-child {
  color: var(--text-dark);
}
.timeline-component-bg > span {
  color: var(--text-light);
}
.timeline-component-bg:hover {
  box-shadow: 0 0 15px rgba(88, 166, 255, 0.3);
}
/* .timeline-left {
  left: 0;
  text-align: right;
} */
.timeline-left::before {
  left: auto;
  right: -8px;
}
.timeline-right {
  left: 50%;
  text-align: left;
}
.timeline-right::before {
  left: -8px;
}
.timeline-year {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 10px;
  color: var(--text-light);
}
.project-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.project-card .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 10px 0px;
  width: 350px;
  height: 300px;
  border: 1.5px solid var(--secondary);
  border-radius: 25px;
  color: var(--secondcolor);
  background: var(--bg-light);
}
.project-card .card:hover {
  box-shadow: 0 0 15px rgba(88, 166, 255, 0.3);
}
.project-card .card h3 {
  text-align: center;
  font-size: 1.8rem;
  margin: 0px;
  padding: 0px;
  color: var(--text-dark);
}
.project-card .card p {
  color: var(--greyType);
  text-align: justify;
  padding: 20px;
}
.project-card .card button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 25px;
  margin: auto;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background: var(--secondary);
  color: var(--text-light);
  font-size: 1.05em;
  font-weight: 520;
}
.project-card .card button:hover {
  text-decoration: underline;
}
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90%;
  max-width: 500px;
  min-height: 400px;
  height: 400px;
  border-radius: 25px;
  color: var(--secondcolor);
  background: var(--bg-light);
  border: 1.5px solid var(--secondary);
}
.contact-container:hover {
  box-shadow: 0 0 15px rgba(88, 166, 255, 0.3);
}
.contact-container > p {
  text-align: center;
  padding: 20px;
  margin: 0px 10px 0px;
  font-size: 1.2em;
}
.contact-container .info p {
  text-align: center;
  font-size: 1.3em;
  color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.contact-container .info a {
  color: var(--text-dark);
  font-size: 1em;
  display: block;
  text-decoration: none;
  text-align: center;
}
.contact-container .info a:hover {
  color: var(--greyType);
  text-decoration: underline;
}
.contact-container .info p > span {
  color: var(--text-light);
  text-align: center;
  margin: 5px;
}
.info p > span > i {
  vertical-align: bottom;
}
footer {
  background: var(--primary);
  color: var(--text-dark);
  text-align: center;
  padding: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 0.9rem;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--primary);
}
::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

/*ipad pro*/
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .project-card .card {
    width: 425px;
    height: 300px;
  }
  .navbar {
    font-size: 1em;
  }
  .contact-container {
    width: 100%;
    max-width: 70vw;
    height: auto;
    margin: auto;
    padding-bottom: 10px;
  }
  .about-text {
    font-size: 1.2em;
  }
  .about-img {
    width: 350px;
    height: auto;
  }
}

/* Tablet: 1 */
@media screen and (min-width: 651px) and (max-width: 1023px) {
  .skill-card .card {
    max-width: 80vw;
    width: 45%;
    height: 290px;
  }
  .project-card .card {
    max-width: 80vw;
    width: 100%;
    height: 250px;
  }
}

/* small width phone */
@media screen and (max-width: 375px) {
  .navbar .nav-links {
    display: none;
  }
  .navbar {
    justify-content: center;
  }
  .skill-card .card {
    width: 100%;
    height: 265px;
  }
  .contact-container {
    height: 65vh;
    width: 100%;
  }
  .contact-container .info a {
    font-size: 0.9em;
  }
  .contact-container > p {
    font-size: 0.9em;
  }
  .timeline::before {
    left: 20px;
  }
  .timeline-component {
    width: 100%;
    padding-left: 60px;
    padding-right: 20px;
    text-align: left !important;
  }
  .timeline-component::before {
    left: 12px;
    right: auto;
  }
  .timeline-left,
  .timeline-right {
    left: 0;
  }
}

/* phone */
@media screen and (min-width: 376px) and (max-width: 650px) {
  .hero h1 span {
    display: inline-block;
  }
  .navbar .nav-links {
    display: none;
  }
  .navbar {
    justify-content: center;
  }
  .skill-card .card {
    width: 100%;
    height: 250px;
  }
  .contact-container {
    height: auto;
    margin: 5px;
  }
  .contact-container .info a {
    font-size: 0.9em;
  }
  .contact-container > p {
    font-size: 0.9em;
  }
  .timeline::before {
    left: 20px;
  }
  .timeline-component {
    width: 100%;
    padding-left: 60px;
    padding-right: 20px;
    text-align: left !important;
  }
  .timeline-component::before {
    left: 12px;
    right: auto;
  }
  .timeline-left,
  .timeline-right {
    left: 0;
  }
}